.box {
  width: 300px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #555;
  border-radius: 10px;
  background: #fff;
  text-align: left;
  vertical-align: top;
  font-family: Arial, sans-serif;
}

dt {
  font-weight: 700;   /* bold */
  color: #000;        /* black */
  margin-top: 4px;
}

dd {
  margin: 0 0 4px 0;
  color: #555;        /* grey value */
  padding-left: 40px; /* indentation to create a tab-like space */
}
